<div class="{% if section.settings.include_margins %}cpd-page{% endif %}">
  {%- for block in section.blocks -%}
    {% render block %}
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "Apps",
  "tag": "section",
  "class": "section-apps",
  "settings": [
    {
      "type": "checkbox",
      "id": "include_margins",
      "label": "Include page margins",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "Apps"
    }
  ]
}
{% endschema %}
