{% comment %}
  This section is used in the page template to render store pages like About us
  or Contact us.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/page
{% endcomment %}

{% render 'section-padding',
  section_id: section.id,
  padding_left: section.settings.padding_left,
  padding_right: section.settings.padding_right,
  padding_left_mobile: section.settings.padding_left_mobile,
  padding_right_mobile: section.settings.padding_right_mobile
%}
<div id="section-{{ section.id }}">
  <h1>{{ page.title }}</h1>
  {{ page.content }}
</div>

{% schema %}
{
  "name": "t:general.page",
  "settings": [
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "range",
      "id": "padding_left",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Left",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_right",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Right",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_left_mobile",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Left (Mobile)",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_right_mobile",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Right (Mobile)",
      "default": 20
    }
  ]
}
{% endschema %}
